#heading {
    content-align: center bottom;
    text-style: bold italic;
    padding-bottom: 1;
    padding-top: 1;
}

.high {
    border: round red;
}

.medium {
    border: round orange;
}

.low {
    border: round white;
}

.col0 {
    border: round blue;
}

.col1 {
    border: round green;
}

.col2 {
    border: round red;
}

.status {
    border-bottom: solid white;
    content-align: center middle;
    text-style: italic;
}

.card {
    padding-left: 1;
    padding-right: 1;
}

.selected {
    border: solid gray;
}

.error-popup {
    background: red;
    color: white;
    padding: 1;
    border: solid;
    align: center middle;
}


Column {
    width: 1fr;
}

Label {
    width: 1fr;
}
